# references:
# * http://www.objc.io/issue-6/travis-ci.html
# * https://github.com/supermarin/xcpretty#usage

osx_image: xcode7.3
language: objective-c
cache: cocoapods
podfile: Example/Podfile
before_install:
- gem install cocoapods # Since Travis is not always on latest version
- pod install --repo-update --project-directory=Example
script:
- set -o pipefail && xcodebuild test -workspace Example/YumiMediationAdapters.xcworkspace -scheme YumiMediationAdapters-Example -sdk iphonesimulator9.3 ONLY_ACTIVE_ARCH=NO -destination 'platform=iOS Simulator,name=iPhone 6' | xcpretty
- pod lib lint --use-libraries --allow-warnings
- "./scripts/update-pod.sh"
notifications:
  slack:
    secure: oIBLcoy5bLb8ikyC2McdU5X9oq5QW1qh8Unpsjhryc3nGlIZZ2A8nh0eGC+tjR1OhB8tGOpfLLmuTtkCrmF4PYUJ3XiGPmml7WPTRafjGIPEDskzJD5l8j5Tc64UfeZ6Kta4Z+PRQBBNXREdKDL/KqxqWdH3t+2jRg2f/2qXmmE+m2yVxvC7Ry8Xsc7A83SvOs7YpBOyx7IIlVInvjqpl9oOiTgxhQsyeRifeRaxr4GBcbgFLmggw3Yvnz33SZNhZh4IojtVDbvndNvx3Wm7hlMhoKCPEPLBrV8dxQsDsZDl1eMEj7Q2atdf6qLksCh8oPlpgEs2Cf5oax/zUTslwpt3/pxkIfy5+Jjd765hX+v/Nn4H5xAaaVyxh7BxxshVN13N3lMJDhXXG1JLaSIsSfURrlmFMi3z7mfzG5yK9XDzgOIL46ghJ/TBq+uCmUqRthqbtbvfbZfCibBuJRsNVSx5xi2hdMiWq6svHfZjlghoCbXZnPpRKAun8K05sc8fLx0PJe/671W8f2dO+92BsjB+ZlpmK0kFOYzbMfMFmf1kd0E8FhtAaZFtMgUV2J8qMsttodULb1umpKfJoJ82yH3dPnX2O04Mb9OczVcF3kM6fVhIgx3fnPFvzC9PiQ1whKi/bt/w9lCXAGdsxoclAfYB7+JnXcL0o36F7INRusk=
env:
  global:
    secure: o/kFBpbDnah/b8wwwzwDDBqLcg/CmFykFDuImp4Q4qY5B9ZTVLH7ba5l/ycpQuskxBWKyJUkTTjiFOrVTHlDVFBMOkf45ypV7ruCngGuFz+pUWv1xxWfZLKU3vBC+euBJzOy768OhtCNf7vPAvkYC03Rfh/6EO2tNflIvONevAJLcO0ntB55PolgJTohc0aKa2h9gpU+zkQk/DKkc3HajC3O7sd4qElbD9sXO6UWI2FWi8K10J7RyPbT4NyEc5PAk7V1YMQbM6/fcKlT1AMnOwNFgKoPA1hZFa/x1zlyyAc4nZF9smRpKZPHl1p9lB6vD7T6fR1ZJu/mLdBcsdsyVxHRorHRmceZGGWGsnV5Y3d4MKBuDacdadeK4VAr2mRAvEhsONZScqxlMQvyo/U36DdgxVSmJs9cX8p+GaDpZZRfQqLgh/RcZ17B3PaadKRayEai0nuxveRX4N5tvmCKxahqk27luHQ5j9trc6csSKTt9wy0L6gDbgCYvteSJLsiFJDVOHbvf5jRc3Xc2MwxwK3YxofGAlC2C3vx4MxkKhBtELWEDNgU+oZ3dh9RqDcTWx5cRN/YdU6ULTuibGua/nm9MyRiwgabfJ+QeW6vtbqKncCN+CTF33TKbFgTdN2oTJCzPA/q3qCcIhdzfcEqNqg7nQOh2XIQfvJUWd0zExY=
